body{
    background: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#play-button{

    align-self: center;
    background-color: mediumvioletred;

    width: 30%;


}

#logo {
    padding-top: 10%;
    align-self: center;
    width: 60%;
    box-shadow: darkslategrey;

}


@media screen and (max-width: 1700px) {
    #logo {
        width: 30%;
    }
}