body{
    background-image: url("https://img.freepik.com/free-vector/dirty-park-garden-with-garbage-paths-lawn-vector-cartoon-illustration-summer-landscape-with-green-trees-bushes-grass-metal-fence-trash-plastic-cups-bottle-paper_107791-11187.jpg?w=2000");
}
#play-button{

    align-self: center;
    background-color: mediumvioletred;

    width: 30%;


}

#logo {
    padding-top: 10%;
    align-self: center;
    width: 60%;
    box-shadow: darkslategrey;

}