body{
    background: url(background.png);
    background-repeat: repeat;
    background-size: cover;
}
#play-button{

    align-self: center;
    background-color: mediumvioletred;

    width: 30%;


}

#logo {
    padding-top: 10%;
    align-self: center;
    width: 60%;
    box-shadow: darkslategrey;

}