<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/game.css" th:href="'/game.css'"/>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <title>Nalles Sopstation</title>
    <audio id="startSong" src="lotNa.mp3" autoplay></audio>
</head>
<body>

        <p th:class="point-text">POÄNG:</p>
        <div th:class="score-text" id="gameplay" text="score">0</div>

        <div th:class="black-filter"></div>

        <div id="audio-controls">
            <button id="mute-button">Mute</button>
            <label for="volume-slider"></label><input type="range" id="volume-slider" min="0" max="1" step="0.1" value="1">
        </div>



                <div th:each="trash: ${trashArray}">
                    <img th:src="${trash.getImage()}" draggable="true" th:id="${trash.getTrash_category_id()}"  th:class="trash" />
                </div>


            <div th:class="trashcan-container">
                    <div th:each="trashCan: ${trashCanArray}">
                        <img th:src="${trashCan.getImage()}" th:class="trashcan" th:id="${trashCan.getTrash_category_id()}"></img>
                    </div>
            </div>


        <script src="/gameplay.js"></script>
        <script src="/sound.js"></script>
<audio id="errorSound" src="wrongS.mp3"></audio>
<audio id="trashSound" src="trash.mp3"></audio>

</body>
</html>