<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/game.css" th:href="'/game.css'"/>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <title>Nalles Sopstation</title>
</head>
<body>
        <h1>Gameplay</h1>
        <div th:class="black-filter"></div>
        <div th:class="trashcan-container">
            <div th:class="trashcan" th:id="kompost">Kompost</div>
            <div th:class="trashcan" th:id="plast">Plast</div>
            <div th:class="trashcan" th:id="glas">Glas</div>
            <div th:class="trashcan" th:id="batterier">Metall</div>
            <div th:class="trashcan" th:id="kartong">Kartong</div>
        </div>

       <!-- <div th:class="trash-container" th:each="trash: ${trashArray}">
            <img th:src="${trash.getImage()}" th:class="trash" draggable="true" th:id="${trash.getTrash_category_id()}" />
        </div>-->
        <div th:class="trash-container">
        <div th:each="trash: ${trashArray}">
            <img th:src="${trash.getImage()}" draggable="true" th:id="${trash.getTrash_category_id()}"  th:class="trash" th:alt="${trash.getName()}" />
        </div>
        </div>
<!--

        <div th:each="trashCan: ${trashCanArray}">
            <img th:src="${trashCan.getImage()}"/>
        </div>
-->

        <script src="/gameplay.js"></script>
</body>
</html>