<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/gameplay.css" rel="stylesheet"/>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    <title>Nalles Sopstation</title>
    <audio autoplay id="startSong" src="/audio/lotNa.mp3"></audio>
</head>
<body>



<p th:class="point-text">POÄNG:</p>
<div th:class="score-text" id="gameplay" text="score">0</div>

<div id="audio-controls">
    <button id="mute-button">LJUD AV</button>
    <label for="volume-slider"></label><input id="volume-slider" max="1" min="0" step="0.1" type="range" value="1">
</div>

    <div th:class="black-filter"></div>

<div class="container" th:each="trash: ${trashArray}" th:id="trash-div">
    <img draggable="true" th:class="trash" th:id="${trash.getTrash_category_id()}" th:src="${trash.getImage()}"
         th:value="${trash.getTrash_id()}"/>
</div>


<div class="trashcan-container d-flex justify-content-center">
    <div th:each="trashCan: ${trashCanArray}">
        <img class="trashcan" th:id="${trashCan.getTrash_category_id()}" draggable="false" th:src="${trashCan.getImage()}"></img>
    </div>
</div>

<script type="text/javascript" src="/gameplay.js"></script>
<script type="text/javascript" src="/sound.js"></script>
<audio id="errorSound" src="/audio/wrongS.mp3"></audio>
<audio id="trashSound" src="/audio/trash.mp3"></audio>
<audio id="metalSound" src="/audio/metal-sound.mp3">
    <audio id="plasticSound" src="/audio/plastic-audio.mp3"></audio>
    <audio id="cardboardSound" src="/audio/cardboard-audio.mp3"></audio>
    <audio id="pantAudio" src="/audio/pant-audio.mp3"></audio>



</body>
</html>