<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/win.css"/>
    <title>Nalles Sopstation</title>
    <audio id="crowd" src="/audio/crowdcheering.mp3"></audio>

</head>
<body>
        <canvas id="canvas"></canvas>
        <p th:class="congrat-text">Grattis, du vann!</p>
        <img th:src="'/images/gold.png'" th:class="price-image"/>
        <button class="play-again-btn"><a >Spela igen</a></button>

    <script
            src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js">
    </script>

        <script src="/gameplay.js"></script>
    <script src="/win.js"></script>

</body>
</html>